@import 'tailwindcss';
@import '@fontsource/fira-mono';

:root {
	--new-black: #0e0e0e;
	--font-body: 'Helvetica Neue', Arial, sans-serif;
	--nav-link-hover-color: #ff3e00;
	--color-text: theme(colors.stone.100);
	--horizontal-padding: 120px;
	--standard-gap: 45px;
	--bg-color-body: theme(colors.neutral.700);
	--border-tag: theme(colors.neutral.500);
}

html,
body,
.svelte,
#svelte {
	margin: 0;
	width: 100%;
	height: 100%;
}

html {
	scrollbar-gutter: stable both-edges;
}

body {
	background-color: black;
	min-width: 800px;
	color: var(--color-text);
	font-family: var(--font-body);
}

h1 {
	font-size: 3rem;
}

h2 {
	font-size: 2.5rem;
	text-align: center;
}

h3 {
	font-size: 2rem;
	text-align: center;
}

h4 {
	font-size: 1.5rem;
	font-weight: 600;
}

svg {
	fill: #f5f5f4;
}

svg:hover {
	cursor: pointer;
	fill: orange;
}
